.animation-cover {
  position: relative;
  padding: 10px;
  border-radius: 15px;

  overflow: hidden;
}
.technology-box-shadow {
  border: 1px solid #ffffff08;
  filter: drop-shadow(0px 30px 40px rgba(118, 74, 249, 0.3));
}
.glow-1 {
  position: absolute;
  width: 400px;
  height: 400px;
  transform: rotate(45deg);
  offset-path: rect(0% auto 100% auto);
  mix-blend-mode: screen;
  opacity: 0.8;
}

.glow-2 {
  position: absolute;
  width: 400px;
  height: 400px;
  transform: rotate(45deg);
  offset-path: rect(0% auto 100% auto);
  mix-blend-mode: screen;
  opacity: 0.8;
}

/*  Left-to-right glow: Blue */
.glow-2.left-to-right {
  background: linear-gradient(24.86deg, rgba(12, 38, 200, 0) -2.37%, #82B4FF 37.06%, #0C26C8 57.77%, rgba(130, 180, 255, 0) 100%);
  animation: moveRight 7s linear infinite;
}
/*  Right-to-left glow: Pink */
.glow-2.right-to-left {
  background: linear-gradient(24.86deg, rgba(12, 38, 200, 0) -2.37%, #82B4FF 37.06%, #0C26C8 57.77%, rgba(130, 180, 255, 0) 100%);
  animation: moveLeft 7s linear infinite;
}
/*  Left-to-right glow: Blue */
.glow-1.left-to-right {
  background: linear-gradient(24.86deg, rgba(12, 38, 200, 0) -2.37%, #82B4FF 37.06%, #0C26C8 57.77%, rgba(130, 180, 255, 0) 100%);
  animation: moveRight 7s linear infinite;
}
/*  Right-to-left glow: Pink */
.glow-1.right-to-left {
  background:  linear-gradient(24.86deg, rgba(12, 38, 200, 0) -2.37%, #82B4FF 37.06%, #0C26C8 57.77%, rgba(130, 180, 255, 0) 100%);
  animation: moveLeft 7s linear infinite;
}
@keyframes moveRight {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}
@keyframes moveLeft {
  0% {
    offset-distance: 100%;
  }
  100% {
    offset-distance: 0%;
  }
}
.animation-body {
  position: relative;
  z-index: 10;
  background: black;
  border-radius: 0.5rem;
}
